@font-face {
  font-family: "Loopiejuice-Regular";
  src: url("fonts/Loopiejuice.ttf");
}

@font-face {
  font-family: "Harrington";
  src: url("fonts/Harrington.ttf");
}

body {
  margin: 0;
  font-family: "Loopiejuice-Regular";
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 30vmin;
  pointer-events: none;
}

code {
  font-family: 'Courier', monospace;
}
